<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Evaluate News Articles with NLP</title>
  </head>
  <body>
    <header class="hidden" role="banner">
      <nav role="navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 190 190">
          <circle cx="95" cy="95" r="95"></circle>
          <text font-size="157" letter-spacing="12.077">
            <tspan x="37" y="147">N</tspan>
          </text>
        </svg>
        <h1>News Article Evaluator</h1>
      </nav>
    </header>
    <main role="main">
      <section>
        <svg xmlns="http://www.w3.org/2000/svg" width="93" height="93" viewBox="0 0 190 190">
          <circle cx="95" cy="95" r="95"></circle>
          <text font-size="157" letter-spacing="12.077">
            <tspan x="37" y="147">N</tspan>
          </text>
        </svg>
        <form class="" onsubmit="return handleSubmit(event)">
          <label class="hidden" for="article__url">Article link for NLP evaluation</label>
          <input id="article__url" name="input" placeholder="Article URL for evaluation" type="text">
          <label class="hidden" id="input__error"></label>
          <button id="submit__button" type="submit">Evaluate</button>
        </form>
      </section>
    </main>
    <footer role="contentinfo">
      <div class="app-footer-copyright">
        <span>© 2019</span>
        <a href="https://cosmin.dev" title="Cosmin Cojocar" target="_blank">Cosmin Cojocar</a>
      </div>
    </footer>
  </body>
</html>
