@import "_colors";

main {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: main;
  justify-content: center;
  padding: 1rem;

  section {
    align-items: center;
    display: flex;

    &.column {
      flex-direction: column;

      label {
        display: none;
      }
    }

    &.row {
      flex-direction: column;

      label {
        color: $color-teal;
        display: block;
        font: italic 1rem "IBM Plex Sans", sans-serif;
        font-weight: 400;
        margin-left: 5px;
        margin-right: 5px;
      }

      svg {
        display: none;
      }

      form {
        flex-direction: column;
        margin: 0;
        padding: 0;

        button {
          margin: 0 0 0 0.5rem;
        }
      }
    }

    svg {
      circle {
        fill: $background-red;
      }
      text {
        fill: $color-white;
        font-family: "Emblema One", cursive;
      }
    }

    form {
      align-items: center;
      display: flex;
      flex-direction: column;
      margin-top: 1rem;
      padding: 0.5rem;

      button {
        background-color: $color-teal;
        border-radius: 9999px;
        color: $color-white;
        cursor: pointer;
        display: block;
        font-size: 1rem;
        font-weight: 200;
        letter-spacing: 0.025rem;
        line-height: 1.15em;
        margin-top: 1rem;
        outline: none;
        padding: 0.5rem;
        width: 110px;

        &:hover {
          transform: translateY(-1px);
        }
      }

      label {
        &.hidden {
          display: none;
        }
      }

      #input__error {
        color: $color-red;
        margin: 0.5rem;

        &.visible {
          display: block;
          opacity: 1;
          transition: visibility 1s ease-in-out, opacity 0.5s ease-in-out;
          visibility: visible;
        }

        &.hidden {
          display: none;
          opacity: 0;
          transition: visibility 1s ease-in-out, opacity 0.5s ease-in-out;
          visibility: hidden;
        }
      }

      input {
        border: 1px solid $color-teal;
        border-radius: 24px;
        box-shadow: none;
        color: $color-teal;
        font: italic 16px "IBM Plex Sans", sans-serif;
        font-weight: 200;
        height: 44px;
        min-width: 250px;
        padding: 0 1rem;
        text-align: center;

        &::placeholder {
          color: $color-teal;
          font: italic 16px "IBM Plex Sans", sans-serif;
          font-weight: 500;
        }
      }
    }
  }

  #resultSection {
    display: flex;
    flex-direction: column;
    padding: 1rem;

    &.visible {
      opacity: 1;
      visibility: visible;

      #resultCategories {
        width: 100%;
      }
    }

    &.hidden {
      opacity: 0;
      visibility: hidden;
    }

    #resultCategories {
      width: 100%;

      table {
        border: 1px solid $color-teal;
        border-radius: 24px;
        margin-top: 2rem;
        width: 100%;

        tr {
          border-bottom: 1px solid $color-teal;
        }

        td {
          border-right: 1px solid $color-teal;
          padding: 0.5rem;
        }
      }
    }
  }
}


@media (min-width: 768px) {
  main {
    section {

      &.row {
        flex-direction: row;

        form {
          flex-direction: row;
        }
      }

      form {
        input {
          min-width: 570px;
        }
      }
    }
  }
}
